header {
    background-color: #FEECE2;
    padding: 20px; 
    border: 2px solid #FFBE98;  
    
 }
 
 header>div:first-child>span>a{
     color: #9195F6;
     font-size: 30px;
 
 }
 
 
 header a {
     text-decoration: none;
     
 }
 
 header div:nth-child(2)>span:first-child a {
     color: #FB88B4;
     font-size: 30px;
 }
 
 header div:nth-child(2)>span:nth-child(2) a {
     color: #A3C9AA;
     font-size: 45px;
     padding-left: 20px;
     
 }
 header div:last-child span a {
    color: #9195F6;
    font-size: 30px;
    padding: 50px;
    padding-top: 0px;
    padding-right: 0px;
 }